.table th, .table td {
    text-align: center;
    padding: 20px;
}

.table th {
    background-color: #6D8726;
    color: white;
}

.table td {
    background-color: #E9EADA;
}

.table tr:nth-child(even) td {
    background-color: #B9BB74;
}

.table tr:nth-child(odd) td {
    background-color: #81A159;
}